<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="header">Pharma C</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides class="slides">
    <ion-slide>
      <img src="../../assets/img/img1.png" alt="" srcset="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/img2.png" alt="" srcset="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/img3.png" alt="" srcset="">
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row class="ion-margin-horizontal">
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail>
                <img src="../../assets/img/cosmetric.png" alt="" srcset="">
              </ion-thumbnail>
              <ion-card-title>Cosmerics</ion-card-title>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div align="center">
              <ion-thumbnail>
                <img src="../../assets/img/Supplement.png" alt="" srcset="">
              </ion-thumbnail>
              <ion-card-title>Supplement</ion-card-title>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div align="center">
              <ion-thumbnail>
                <img src="../../assets/img/Nostrum.png" alt="" srcset="">
              </ion-thumbnail>
              <ion-card-title>Nostrum</ion-card-title>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
